<a href="https://colab.research.google.com/github/guifluz/studies/blob/master/BP1_06_Pandas_Arquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![images.png]()</b> <br>Consultor: Peterson Almeida <br>



<h1> Leitura e Exporte de Arquivos com o Pandas </h1>

<b> Geral:</b><br>
Como ler arquivos em diferentes formatos utilizando o pandas e como fazer o export do dataframe para diversos formatos de arquivos
<br>

<h3>Formatos de arquivos compatíveis:</h3>


*   text
*   CSV
*   JSON
*   HTML
*   Local clipboard
*   binary
*   MS Excel
*   HDF5 Format
*   Feather Format
*   Parquet Format
*   ORC Format
*   Msgpack
*   Stata
*   SAS
*   SPSS
*   Python Pickle Format
*   SQL
*   Google BigQuery

Informações sobre sintaxes e detalhes em [pandas](https://https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

<h3>Fazendo Upload</h3>

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving employees.csv to employees.csv

In [ ]:
df = pd.read_csv('employees.csv')
df.head()

  First Name  Gender Start Date  ... Bonus %  Senior Management             Team
0    Douglas    Male   8/6/1993  ...   6.945               True        Marketing
1     Thomas    Male  3/31/1996  ...   4.170               True              NaN
2      Maria  Female  4/23/1993  ...  11.858              False          Finance
3      Jerry    Male   3/4/2005  ...   9.340               True          Finance
4      Larry    Male  1/24/1998  ...   1.389               True  Client Services

[5 rows x 8 columns]

<h3>Git clone</h3>

In [ ]:
!pip install -q xlrd
!git clone https://github.com/fastai/courses.git

Cloning into 'courses'...
remote: Enumerating objects: 769, done.
remote: Total 769 (delta 0), reused 0 (delta 0), pack-reused 769
Receiving objects: 100% (769/769), 23.06 MiB | 31.20 MiB/s, done.
Resolving deltas: 100% (409/409), done.

In [ ]:
!ls courses/deeplearning1/excel

collab_filter.xlsx  entropy_example.xlsx  layers_example.xlsx
conv-example.xlsx   graddesc.xlsm

In [ ]:
df = pd.read_excel('courses/deeplearning1/excel/layers_example.xlsx')
df

    Unnamed: 0                  x1        x2  ...        y2  Unnamed: 8  Unnamed: 9
0          NaN                   2  3.000000  ...  1.000000         NaN         NaN
1          NaN                 NaN       NaN  ...       NaN         NaN         NaN
2          NaN           weights 1       NaN  ...       NaN         NaN         NaN
3          NaN             1.77752 -0.056013  ...       NaN         NaN    0.666667
4          NaN             0.58263 -0.153056  ...       NaN         NaN         NaN
5          NaN            0.385083  0.402703  ...       NaN         NaN         NaN
6          NaN                 NaN       NaN  ...       NaN         NaN         NaN
7          NaN       activations 1       NaN  ...       NaN         NaN         NaN
8          NaN             5.68802 -0.168491  ...       NaN         NaN         NaN
9          NaN             5.68802  0.000000  ...       NaN         NaN         NaN
10         NaN                 NaN       NaN  ...       NaN         NaN         NaN
11         NaN           weights 2       NaN  ...       NaN         NaN         NaN
12         NaN            -1.01076  0.470262  ...       NaN         NaN    0.500000
13         NaN           -0.659433 -0.161928  ...       NaN         NaN         NaN
14         NaN            0.119704  0.521594  ...       NaN         NaN         NaN
15         NaN           -0.463218 -0.155967  ...       NaN         NaN         NaN
16         NaN                 NaN       NaN  ...       NaN         NaN         NaN
17         NaN       activations 2       NaN  ...       NaN         NaN         NaN
18         NaN             -5.7395  3.120573  ...       NaN         NaN         NaN
19         NaN                   0  3.120573  ...       NaN         NaN         NaN
20         NaN                 NaN       NaN  ...       NaN         NaN         NaN
21         NaN      weights output       NaN  ...       NaN         NaN         NaN
22         NaN            0.914665  0.612213  ... -0.058916         NaN    0.666667
23         NaN            0.372557  1.240222  ... -0.119353         NaN         NaN
24         NaN           -0.333152 -0.764842  ...  0.073605         NaN         NaN
25         NaN                 NaN       NaN  ...       NaN         NaN         NaN
26         NaN  activations output       NaN  ...       NaN         NaN         NaN
27         NaN            0.801546  3.041323  ... -0.096235         NaN         NaN
28         NaN             softmax       NaN  ...       NaN         NaN         NaN
29         NaN           0.0962349  0.903765  ...       NaN         NaN         NaN
30         NaN                rmse  0.136097  ...       NaN         NaN         NaN

[31 rows x 10 columns]

<h3>Conectando ao Drive</h3>

In [ ]:
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

E: Package 'python-software-properties' has no installation candidate
Selecting previously unselected package google-drive-ocamlfuse.
(Reading database ... 160706 files and directories currently installed.)
Preparing to unpack .../google-drive-ocamlfuse_0.7.26-0ubuntu1~ubuntu18.04.1_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.7.26-0ubuntu1~ubuntu18.04.1) ...
Setting up google-drive-ocamlfuse (0.7.26-0ubuntu1~ubuntu18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [ ]:
!mkdir -p drive
!google-drive-ocamlfuse drive

In [ ]:
!ls "/content/drive/Dinamica Group/Python 1"

'Gravação de Tela 2021-04-18 às 23.58.39.mov'  'Python 1.m4a'
'[PD] Python 1 Slides Gravação - Dex_.pptx'     Python-1.mp3

<h3>Arquivos Zipados</h3>

In [ ]:
from six.moves import urllib
import gzip

handle = urllib.request.urlopen('https://datasets.imdbws.com/title.basics.tsv.gz') #download
file = gzip.GzipFile(fileobj=handle) #unzip

movies = pd.read_csv(file, sep="\t")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
movies

            tconst  titleType  ... runtimeMinutes                    genres
0        tt0000001      short  ...              1         Documentary,Short
1        tt0000002      short  ...              5           Animation,Short
2        tt0000003      short  ...              4  Animation,Comedy,Romance
3        tt0000004      short  ...             12           Animation,Short
4        tt0000005      short  ...              1              Comedy,Short
...            ...        ...  ...            ...                       ...
7878612  tt9916848  tvEpisode  ...             \N       Action,Drama,Family
7878613  tt9916850  tvEpisode  ...             \N       Action,Drama,Family
7878614  tt9916852  tvEpisode  ...             \N       Action,Drama,Family
7878615  tt9916856      short  ...             27                     Short
7878616  tt9916880  tvEpisode  ...             10   Animation,Comedy,Family

[7878617 rows x 9 columns]

<h2> Exportando Arquivos </h2>

In [ ]:
df.to_excel('teste.csv')
from google.colab import files
files.download('teste.csv')

<h3> Exercícios</b>

1. Faça upload um upload de um arquivo xlsx utilizando pandas, utilize a função describe e análise os dados retornados.

2. Clone um repositório do github que contenha um arquivo compatível com pandas, leia o arquivo e transforme ele em um novo dataframe como nome df.

3. Exporte esse dataframe como xlsx, faça o download e abra em sua máquina para verificar como ficou o formato do arquivo.