<a href="https://colab.research.google.com/github/guifluz/studies/blob/master/db_automate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Código para extração e limpeza de base de dados do looker para automatização de rotinas.**

####Importando dependências

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
!pip install --upgrade gspread

Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (3.0.1)
Collecting gspread
  Downloading gspread-5.1.1-py3-none-any.whl (31 kB)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (1.35.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.1.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2021.10.8)
Installing collected packages: gspread
  Attempting uninstall: gspread
    Found existing installation: gspread 3.0.1
    Uninstalling gspread-3.0.1:
      Successfully uninstalled gspread-3.0.1
Successfully installed gspread-5.1.1

####Autorizando o colab a utilizar o gspread

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

####Importação das bases de dados

Listagem de todos os arquivos que existem na pasta de base de dados

In [ ]:
from os import listdir

files = listdir('/content/drive/MyDrive/1. Sales Planning/2. Relatórios Diários/00. Bases Automatizadas')

In [ ]:
file_name = []

for a in files:
  if str(".gsheet") in str(a):
    a = a.replace(".gsheet","")
    file_name.append(a)
  else:
    file_name.append(a)
    continue

In [ ]:
list(file_name)

['db_leads_seller.csv',
 'db_publicacaoes.csv',
 'gestao_nomes_emails',
 'gestao_normalizacao_bairros',
 'gestao_time_ss',
 'db_imovel_lva_lvr.csv',
 'db_oportunidades.csv',
 'db_vendas_faturamento.csv',
 'db_bairros_lva.csv',
 'db_bairros_lvr.csv',
 'db_bairro_do_lsa.csv',
 'db_imoveis_churn.csv',
 'db_bairros_lsa.csv',
 'db_publicacoes.csv',
 'db_opps_perdidas.csv',
 'db_visitas_totais_e_unicas.csv',
 'db_bairro_do_imovel.csv',
 'db_propostas.csv',
 'db_tarefas_garagem.csv',
 'db_imoveis_ativos_bairros.csv',
 'db_bairros_imoveis.csv',
 'db_opp_sem_tarefa.csv',
 'db_registro_pcvs.csv']

In [ ]:
#type(file_name)

In [ ]:
#len(file_name)

Loop de criação de um dataframe para cada base de dados e armazenamento dos dataframes em uma lista de dataframes (df_colection)

In [ ]:
df_colection = []

count = 0

for f in file_name:
    spreadsheet = gc.open(f)
    data_t = spreadsheet.sheet1
    d_round = pd.DataFrame(data_t.get_all_records())
    df_colection.append(d_round)
    count = count + 1
    if count == len(file_name):
      break
    else:
      continue

In [ ]:
print(data_t)

<Worksheet 'Página1' id:0>

In [ ]:
#len(df_colection)

Seleção do dataframes de interesse pelo nome

In [ ]:
#databases = ["db_bairros_lsa.csv","db_bairros_lvr.csv","db_bairros_lva.csv","gestao_normalizacao_bairros","gestao_nomes_emails","gestao_time_ss","db_oportunidades.csv","db_imoveis_ativos_bairros.csv"]

df_lsa = pd.DataFrame(df_colection[file_name.index("db_bairros_lsa.csv")])
df_lva = pd.DataFrame(df_colection[file_name.index("db_bairros_lva.csv")])
df_lvr = pd.DataFrame(df_colection[file_name.index("db_bairros_lvr.csv")])
df_norm = pd.DataFrame(df_colection[file_name.index("gestao_normalizacao_bairros")])
df_email = pd.DataFrame(df_colection[file_name.index("gestao_nomes_emails")])
df_ss = pd.DataFrame(df_colection[file_name.index("gestao_time_ss")])
df_op = pd.DataFrame(df_colection[file_name.index("db_oportunidades.csv")])
df_imoveis = pd.DataFrame(df_colection[file_name.index("db_imoveis_ativos_bairros.csv")])

In [ ]:
#df_lsa.info()

In [ ]:
#df_lva.info()

In [ ]:
df_lvr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4805 entries, 0 to 4804
Data columns (total 8 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0                                         4805 non-null   int64
 1   LVR - Primeira Visita Realizada Date  4805 non-null   object
 2   Cidade Da Imovel Buyer                4805 non-null   object
 3   Bairro Da Imovel Buyer                4805 non-null   object
 4   ID Da Imovel Buyer                    4805 non-null   object
 5   ID No Site Da Imovel Buyer            4805 non-null   int64
 6   Oportunidade Proprietario             4805 non-null   object
 7   Qtd LVRs                              4805 non-null   int64
dtypes: int64(3), object(5)
memory usage: 300.4+ KB

In [ ]:
df_norm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Bairro Da Imovel Buyer       987 non-null    object
 1   Normalização Nome de Bairro  987 non-null    object
 2   Regional                     987 non-null    object
dtypes: object(3)
memory usage: 23.3+ KB

In [ ]:
df_email.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    323 non-null    object
 1   Email   323 non-null    object
dtypes: object(2)
memory usage: 5.2+ KB

In [ ]:
df_ss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767 entries, 0 to 1766
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ref Month                 1767 non-null   object
 1   AnoMês                    1767 non-null   int64
 2   Regional                  1767 non-null   object
 3   SS                        1767 non-null   object
 4   Email                     1767 non-null   object
 5   Nível                     1767 non-null   object
 6   Data de Admissão como SS  1767 non-null   object
dtypes: int64(1), object(6)
memory usage: 96.8+ KB

In [ ]:
df_op.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8633 entries, 0 to 8632
Data columns (total 16 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Oportunidade Proprietario                    8633 non-null   object
 1   Nome Do Lead                                 8633 non-null   object
 2   Origem                                       8633 non-null   object
 3   Subfluxo Lead                                8633 non-null   object
 4   Criacao Lead Date                            8633 non-null   object
 5   ID Da Oportunidade                           8633 non-null   object
 6   Criacao Oportunidade Date                    8633 non-null   object
 7   Motivo Perda Da Oportunidade                 8633 non-null   object
 8   Oportunidade Proprietario Regional           8633 non-null   object
 9   LSA - Primeira Solicitacao Agendamento Date  8633 non-null   object
 10  LVA - Primeira Criacao Agendamento Date      8633 non-null   object
 11  LVR - Primeira Visita Realizada Date         8633 non-null   object
 12  Primeira Proposta Date                       8633 non-null   object
 13  Oportunidade Fase Pcv Assinada Date          8633 non-null   object
 14  Oportunidade Fechada Date                    8633 non-null   object
 15  ID Do Lead                                   8633 non-null   object
dtypes: object(16)
memory usage: 1.1+ MB

In [ ]:
df_imoveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24484 entries, 0 to 24483
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Status Historico Date  24484 non-null  object
 1   Cidade Do Imovel       24484 non-null  object
 2   Bairro Do Imovel       24484 non-null  object
 3   Qtd Imoveis            24484 non-null  int64
dtypes: int64(1), object(3)
memory usage: 765.2+ KB

In [ ]:
#list(df_imoveis.columns)

In [ ]:
#list(df_ss.columns)

In [ ]:
#list(df_email.columns)

In [ ]:
#list(df_lva.columns)

In [ ]:
#list(df_lsa.columns)

In [ ]:
#list(df_lvr.columns)

In [ ]:
#list(df_norm.columns)

In [ ]:
#list(df_op.columns)

Renomear colunas de interesse e remover espaços

In [ ]:
df_lva = df_lva.rename(columns={'LVA - Primeira Criacao Agendamento Date': 'data', 'Cidade Da Imovel Buyer': 'cidade', 'Bairro Da Imovel Buyer': 'bairro', 'Oportunidade Proprietario':'SS', 'Qtd LVAs':'LVA'})

df_lvr = df_lvr.rename(columns={'LVR - Primeira Visita Realizada Date': 'data', 'Cidade Da Imovel Buyer': 'cidade', 'Bairro Da Imovel Buyer': 'bairro', 'Oportunidade Proprietario':'SS', 'Qtd LVRs':'LVR'})

df_lsa = df_lsa.rename(columns={'LSA - Primeira Solicitacao Agendamento Date': 'data', 'Cidade Da Imovel Buyer': 'cidade', 'Bairro Da Imovel Buyer': 'bairro', 'Oportunidade Proprietario':'SS', 'Qtd LSAs':'LSA'})

df_imoveis = df_imoveis.rename(columns={'Status Historico Date': 'data', 'Bairro Do Imovel': 'bairro','Qtd Imoveis': 'Qtd_imoveis','Cidade Do Imovel':'cidade'})

df_norm = df_norm.rename(columns={'Bairro Da Imovel Buyer':'Bairro_buyer','Normalização Nome de Bairro':'norm_bairro'})

df_ss = df_ss.rename(columns={'Ref Month':'Month','Data de Admissão como SS':'Data_admissao'})

df_op = df_op.rename(columns={'Oportunidade Proprietario':'OP_proprietario','ID Da Oportunidade':'ID_OP','Criacao Oportunidade Date':'Date_OP','LSA - Primeira Solicitacao Agendamento Date':'Date_LSA_OP','LVA - Primeira Criacao Agendamento Date':'Date_LVA_OP','LVR - Primeira Visita Realizada Date':'Date_LVR_OP','Oportunidade Fase Pcv Assinada Date':'Date_PCV_OP','Oportunidade Fechada Date':'Date_OP_Fechada'})

In [ ]:
#list(df_op.columns)

In [ ]:
#df_lva.head(2)

In [ ]:
#df_lvr.head(2)

In [ ]:
#df_lsa.head(2)

In [ ]:
#df_imoveis.head(2)

In [ ]:
#df_norm.head(2)

In [ ]:
#df_ss.head(2)

Normalização e filtragem dos dataframes

In [ ]:
df1 = df_lva[['data', 'cidade', 'bairro','LVA']]
df2 = df_lvr[['data', 'cidade', 'bairro','LVR']]
df3 = df_lsa[['data', 'cidade', 'bairro','LSA']]
df4 = df_imoveis[['data','bairro','cidade','Qtd_imoveis']]
dfn = df_norm
df5 = df_ss[['Month','AnoMês','Regional','SS','Email','Nível','Data_admissao']]
df6 = df_op[['OP_proprietario','ID_OP','ID_OP','Date_OP','Date_LSA_OP','Date_LVA_OP','Date_LVR_OP','Date_PCV_OP','Date_OP_Fechada']]

### Junção das bases de dados de bairros por SQL

Geração do database filtrado de bairros por lsa, lvr e lsa

In [ ]:
!pip install pandasql

import pandasql as ps
from pandasql import sqldf

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.27)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=5c6f8937d225377ca5f0d1915b1a08f7fd870c6f968ef548c1a5a6bdc374db1e
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

#### Testes

In [ ]:
### aqui testei a primeira parte da query de normalização dos bairros e soma de quantidade de imoveis por bairro e cidade
#
#teste = """
#WITH norm_bairros as (
#SELECT
#    Bairro_buyer
#    ,norm_bairro
#    ,Regional as regional
#FROM dfn
#),
#base_imoveis as (
#SELECT
#    data
#    ,bairro
#    ,cidade
#    ,sum(Qtd_imoveis) as imoveis
#FROM df4 group by bairro, cidade
#), 
#db_imoveis as (
#SELECT
#    data as Data
#    ,cidade as Cidade
#    ,Bairro_buyer
#    ,norm_bairro as Bairro
#    ,regional
#    ,sum(imoveis) as Qtd_imoveis
#FROM
#    norm_bairros as c
#LEFT JOIN
#    base_imoveis c2 ON c.Bairro_buyer = c2.bairro
#GROUP BY
#    Data, Bairro, Cidade, regional
#)
#
#SELECT Data, Cidade, Bairro, regional, Qtd_imoveis from db_imoveis GROUP BY Data, Cidade, Bairro
#"""

#df_teste3 = ps.sqldf(teste,locals())

#df_teste3

In [ ]:
#df1.head(2)

In [ ]:
#df2.head(2)

In [ ]:
#df3.head(2)

#### Query

In [ ]:
query = """ 
WITH norm_bairros as (
SELECT
    Bairro_buyer
    ,norm_bairro
    ,Regional as regional
FROM dfn
),
base_imoveis as (
SELECT
    data
    ,bairro
    ,cidade
    ,sum(Qtd_imoveis) as imoveis
FROM df4 group by data, bairro, cidade
),
db_imoveis as (
SELECT
    data as Data
    ,cidade as Cidade
    ,norm_bairro as Bairro
    ,Bairro_buyer
    ,regional
    ,sum(imoveis) as Qtd_imoveis
FROM
    norm_bairros as c
LEFT JOIN
    base_imoveis c2 ON c.Bairro_buyer = c2.bairro
GROUP BY
    Data, Bairro, Cidade, regional
),
db_lsa as (
SELECT
    data as data_lsa
    ,cidade as cidade_lsa
    ,bairro as bairro_lsa
    ,sum(LSA) as Soma_LSA
FROM df3 group by data_lsa, bairro_lsa, cidade_lsa
),
db_lva as (
SELECT
    data as data_lva
    ,cidade as cidade_lva
    ,bairro as bairro_lva
    ,sum(LVA) as Soma_LVA
FROM df1 group by data_lva, bairro_lva, cidade_lva
),
db_lvr as (
SELECT
    data as data_lvr
    ,cidade as cidade_lvr
    ,bairro as bairro_lvr
    ,sum(LVR) as Soma_LVR
FROM df2 group by data_lvr, bairro_lvr, cidade_lvr
),
db_final as (
SELECT
    db_lsa.bairro_lsa as Bairro_lsa
    ,db_lsa.Soma_LSA as SOMA_LSA
    ,db_lva.bairro_lva as Bairro_lva
    ,db_lva.Soma_LVA as SOMA_LVA
    ,db_lvr.bairro_lvr as Bairro_lvr
    ,db_lvr.Soma_LVR as SOMA_LVR
    ,db_imoveis.data as DATA
    ,db_imoveis.cidade as CIDADE
    ,db_imoveis.Bairro_buyer
    ,db_imoveis.regional as REGIONAL
    ,db_imoveis.bairro as BAIRRO
    ,db_imoveis.Qtd_imoveis as QTD_IMOVEIS
    from db_imoveis
LEFT JOIN
    db_lsa ON db_imoveis.Bairro_buyer = Bairro_lsa
LEFT JOIN
    db_lva ON db_imoveis.Bairro_buyer = Bairro_lva
LEFT JOIN
    db_lvr ON db_imoveis.Bairro_buyer = Bairro_lvr
  
GROUP BY
    DATA, BAIRRO, CIDADE, REGIONAL
)

SELECT DATA, CIDADE, BAIRRO, REGIONAL, QTD_IMOVEIS, SOMA_LSA, SOMA_LVA, SOMA_LVR from db_final GROUP BY 1,2,3,4
"""

df_bairros = ps.sqldf(query, locals())

PandaSQLException: ignored

In [ ]:
df_bairros = df_bairros[df_bairros['DATA'].notna()]
df_bairros

#### Extração do output para validação

In [ ]:
outpath = '/content/drive/MyDrive/Outputs_db/Data_base-bairros.xlsx'
writer = pd.ExcelWriter(outpath)

df_bairros.to_excel(writer)

writer.save()

### Filtragem dos demais bancos de dados