<a href="https://colab.research.google.com/github/guifluz/studies/blob/master/Fun%C3%A7%C3%B5es_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![images.png]()</b> <br>Consultor: Peterson Almeida <br>



<h1> Funções Python </h1>

<b> Geral:</b><br>
Além das funções já prontas e instaladas e das funções prontas feitas e disponibilizadas pela comunidade, você pode monstar sua própria função e utilizar de maneira simples e rápida.
<br> <br>

In [ ]:
#criação da primeira função
def primeira_func():
  return "primeira função"
primeira_func()

'primeira função'

In [ ]:
#pode dar o nome que quiser desde que não seja numeros nem palavras reservadas do python
def seg_func (x,y):
  return x+y
seg_func(10,7)

17

In [ ]:
#pode usar funções built-in dentro da função
def contador_lista(lista):
  return len(lista),sum(lista)
contador_lista([0,1,2,3,4,5,6,7,8,9])

(10, 45)

In [ ]:
#função verifica se é par, atribui numa variável e retorna resposta "o numero é"+variavel
def  verifica_par(x):
  if x % 2==0:
    result = 'par'
  else:
    result='impar'
  return 'o numero é '+result
verifica_par(11)

'o numero é impar'

In [ ]:
#lista com numeros de 1 a 9
lista=[1,2,3,4,5,6,7,8,9]
#utilizando o map para aplicar a função verifica_par na lista e atribuindo o resultado em x
x = map(verifica_par, lista)
#printando a list de x porque o map retorna um construtor
print(list(x))

['o numero é impar', 'o numero é par', 'o numero é impar', 'o numero é par', 'o numero é impar', 'o numero é par', 'o numero é impar', 'o numero é par', 'o numero é impar']

In [ ]:
#criando nova função verifica_par e atribuindo True ou False na variavel que vai retornar
def  verifica_par_filtro(x):
  if x % 2==0:
    result = True
  else:
    result= False
  return result

In [ ]:
#utilizando o filter para aplicar a nova função verifica_par em uma lista e atribuindo a x
x = filter(verifica_par_filtro, [1,2,3,4,5,6,7,8,9])
#printando list de x porque o filter retorna um construtor
print(list(x))

[2, 4, 6, 8]

In [ ]:
#criando função taboada que recebe um número e percorre o for com print da multiplicação desse numero até o range definido
def taboada (x):
  for a in range(11):
    print (x,' x ',a,' = ',x*a)

In [ ]:
taboada(9)

9  x  0  =  0
9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90

In [ ]:
#criando variavel que recebe x e y e atribuindo x e y default
def padrao (x=10,y=5):
  return x+y

In [ ]:
#print da função padrão acima sem passar parâmetros
print(padrao())
#print da função padrão acima passando o valor de x
print(padrao(x=15))
#print da função padrão acima passando o valor de x e de y
print(padrao(x=15,y=30))
#print da função padrão acima passado 2 valores
print(padrao(33,37))
#print da função padrão acima passando o valor de y
print(padrao(y=29))

15
20
45
70
39

In [ ]:
#criando função sem print e sem return
def npadrao (x=10,y=10):
  x+y

In [ ]:
#printando a função
print(npadrao())

None

In [ ]:
#criando função cadastro com input de nome e sobrenome e retornando nome e sobrenome do input
def cadastro():
  print("digite seu nome:")
  nome=input()
  print("digite seu sobrenome:")
  snome=input()
  return nome,snome

In [ ]:
#criando variavel usuario e chamando funcao cadastro
user = cadastro()
#printando variavel usuario
print(user)

digite seu nome:
peter
digite seu sobrenome:
almeida
('peter', 'almeida')

<h1>Exercícios:<h1>

1. Crie uma função que receba o input do cpf e nome do usuário.

2. Agora nessa mesma função coloque o retorno como um dicionário onde a chave é o cpf e o valor o nome do usuário.

3. Crie uma função para retornar a quantidade de CPF cadastrados

<h2> Funções Lambda  </h2>

Funções Lambdas são funções no python que nos permite construir em apenas uma linha de código funções como vimos anteriormente.

In [ ]:
#criando função lambda que soma x com x e atribuindo a f1
f1 = lambda x:x+2
#criando função lambda que eleva x ao quadrado e atribuindo a f2
f1(10)
#printando f1 e passando o x
f2 = lambda x,y:x+y
#printando f2 e passando o x
f2(10,12)

22

In [ ]:
#criando funcao de verificar par com lambda
ver_par = lambda x: 'par' if x %2==0 else 'impar'
#chamando função verifica par
ver_par(11)

'impar'

In [ ]:
#utilizando o map para executar a função verifica par em uma lista e atribuindo a variavel par
#convertendo o map para lista
#criando funcao de verificar par com lambda
ver_par_filter = lambda x: True if x %2==0 else False
#chamando função verifica par
ver_par_filter(11)
#printando variavel par
lista=[1,2,3,4,5,3,6,4,3]
pares = list(filter(lambda x: True if x %2==0 else False,lista))
print(pares)

[2, 4, 6, 4]

In [ ]:
#criando função lambda verifica par dentro do map e passando uma lista e convertendo resultado para lista

#printando o resultado de par
#list(map(lambda x: 'par' if x %2==0 else 'impar' ,lista))
list(filter(ver_par_filter,lista))

[2, 4, 6, 4]

In [ ]:
#criando função lambda dentro do filter e passando como lista range(10)
#convertendo os valores para lista e atribuindo a variavel par
list(filter(ver_par_filter,range(10)))
#printando a variavel par

[0, 2, 4, 6, 8]

In [ ]:
#importando o modulo reduce da biblioteca functools
#biblioteca é um diretório de modulos 
from functools import reduce

#atribuindo o resultado do reduce a uma nova variável e criando uma função lambda para somar x e y e passando lista range(10)
# irá acumular as soma dos números de 0 a 9 na variável x
#printando o resultado acima
reduce(lambda x,y:x+y, range(11))

# equivalente a criar x = 0, percorrer um for range(10) e somar x com y percorrido no for
y=0
for a in range(11):
  y+=a
print(y)

55

In [ ]:
#recriando o reduce acima porém com x iniciando em 100
 # irá acumular as soma dos números de 0 a 9 na variável x, 
                                          # porém, a variável x é inicializada como 100

print(reduce(lambda x,y:x+y, range(100)))

# equivalente a criar x = 0, percorrer um for range(10) e somar x com y percorrido no for
y=0
for a in range(100):
  y+=a
print(y)
# equivalent to

4950
4950

In [ ]:
#criando uma função lambda que retorna a soma de 3 valores recebidos
soma = lambda a,b,c : a+b+c
soma(10,20,30)

60

<h2> Dicas </h2>



> A gama de conhecimentos que vimos até aqui já resolve a grande maioria dos problemas que aparecem no dia a dia. Claro que ainda há muito pela frente, mas essa base será utilizada durante o curso todo e a hora de praticar é o momento que mais absorvemos o conteúdo.

<h1>Exercícios:<h1>

1. Crie uma função Lambda para retornar a soma de 4 valores.

In [1]:
a = lambda x,y,z: x+y+z
a(5,4,3)

12

2. Utilize uma função filter para retornar somente os números pares da lista abaixo.<br>
[5,2,5,7,4,2,6,10,342,54,23,6,7,9,12]

In [4]:
val_pares = lambda x: True if x%2==0 else False
valores = [5,2,5,7,4,2,6,10,342,54,23,6,7,9,12]
filtro = list(filter(val_pares,valores))
filtro

[2, 4, 2, 6, 10, 342, 54, 6, 12]

3. Utilize a função reduce e retorne a soma da lista anterior.