<a href="https://colab.research.google.com/github/guifluz/studies/blob/master/Opera%C3%A7%C3%B5es_com_Tuplas_e_Dicion%C3%A1rios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


![images.png]()</b> <br>Consultor: Peterson Almeida <br>



<h1> Operações com Tuplas e Dicionários </h1>

<b> Geral:</b><br>
Vimos já um poucos de tuplas e dicionários, agora vamos entrar mais afundo nas operações que podemos fazer em objetos desse tipo.
<br> <br>

<b>Operações com Tuplas</b> <br>
Diferente de listas e strings, a quantidade de métodos para Tuplas são bem limitados, sendo eles: 

1.   Count() -> Conta a quantidade de ocorrência de determinado valor.
2. Index() -> Procura na tupla determinado valor e retorna seu endereço.

**Count()**

In [ ]:
tupla_1 = (1,2,4,7,5,6,(4,3),1,2,1)
print(tupla_1)
print(tupla_1.count(1))
print(tupla_1.count(3))
tupla_2 = ("oi","tchau","boa tarde")
print(tupla_2)
print(tupla_2.count("oi"))
print(tupla_2.count("o"))

(1, 2, 4, 7, 5, 6, (4, 3), 1, 2, 1)
3
0
('oi', 'tchau', 'boa tarde')
1
0

**Index()**

In [ ]:
print(tupla_1)
print(tupla_1.index((4,3)))
print(tupla_2)
print(tupla_2.index("boa tarde"))
print(tupla_2.index("o"))

(1, 2, 4, 7, 5, 6, (4, 3), 1, 2, 1)
6
('oi', 'tchau', 'boa tarde')
2

ValueError: ignored

**Usando funções do python para tuplas** <br> Por mais que temos um leque de opções limitados para métodos próprios para tuplas, podemos utilizar métodos gerais do python que são compatíveis com operações com tupla, ou então construir nossos próprios métodos.

In [ ]:
tupla_3 = tupla_1 + tupla_2
print(tupla_3)
del tupla_3
print(tupla_3)

(1, 2, 4, 7, 5, 6, (4, 3), 1, 2, 1, 'oi', 'tchau', 'boa tarde')

NameError: ignored

In [ ]:
tupla_3 = (10,203,40,7)*2
print(tupla_3)
print(id(tupla_3))
lista = list(tupla_3)
lista.sort()
tupla_3= tuple(lista)
print(id(tupla_3))
tupla_3

(10, 203, 40, 7, 10, 203, 40, 7)
139764975031016
139764975032920

(7, 7, 10, 10, 40, 40, 203, 203)

In [ ]:
(valor_1,valor_2,valor_3)=tupla_2
print(valor_1)
print(valor_2)
print(valor_3)

oi
tchau
boa tarde

<h2> Bônus: Set </h2> <br> <b>Set</b> é uma estrutura que não vimos ainda, mas é para muitos cenários bem útil, esse objeto tem sintaxe de dicionário, mas não permite valores duplicados, são imutáveis e não possuem enereço para os valores dentro dele.<br><br>
Os métodos que ele possui são os seguintes:
<br>
1. add() ->	Adiciona um elemento.<br>
2. clear()	-> Remove todos os elementos.<br>
3. copy()	->	Retorna uma cópia.<br>
4. difference()	->	Retorna a diferença entre 2 ou mais sets.<br>
5. difference_update()	->	Remove os itens desse set que já está contido em algum outro.<br>
6. discard()	->	Remove algum item específico.<br>
7. intersection()	->	Retorna um set que é a intersecção entre outros dois sets.<br>
8. intersection_update()	->	Remove os items desse set que não estão especificados em outro set.<br>
9. isdisjoint()	->	Retorna se os sets tem uma intersecção ou não.<br>
10. issubset()	->	Retorna se outro set contém esse set ou não.<br>
11. issuperset()	->	Retorna se esse set contém outro set ou não<br>
12. pop()	->	Remove um elemento desse set.<br>
13. remove()	->	Remove um elemento especificado.<br>
14. symmetric_difference()	->	Retorna um set com a diferença simétrica entre os dois sets.<br>
15. symmetric_difference_update()	->	insere as diferenças simétricas entre esse set e outro.<br>
16. union()	->	Retorna um set contendo a união dos sets.<br>
17. update()	->	Atualiza o set com a união dele com outro set.<br> <br> Como alguns tem funcionamento similares aos que vimos em outros construtores, vamos focar com os novos específicos para set.

**Diference()**

In [ ]:
set_1 = {1,2,3,4,5,6,7}
set_2 = {0,3,4,5,6,7,8,9}
print(set_1.difference(set_2))
print(set_2.difference(set_1))

{1, 2}
{0, 8, 9}

**Diference_update()**

In [ ]:
print(set_1)
set_1.difference_update(set_2)
print(set_1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2}

**intersection()**

In [ ]:
print(set_2)
set_3={1,2,3,4,7,0,9}
print(set_3)
print(set_2.intersection(set_3))

{0, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 7, 9}
{0, 3, 4, 7, 9}

**intersection_update()**

In [ ]:
print(set_2)
print(set_3)
set_2.intersection_update(set_3)
print(set_2)

{0, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 7, 9}
{0, 3, 4, 7, 9}

**isdisjoint()**

In [ ]:
print(set_1)
print(set_2)
print(set_3)
set_4={77,33}
print(set_4)
print(set_2.isdisjoint(set_3))
print(set_3.isdisjoint(set_1))
print(set_3.isdisjoint(set_4))

{1, 2}
{0, 3, 4, 7, 9}
{0, 1, 2, 3, 4, 7, 9}
{33, 77}
False
False
True

**issubset()**

In [ ]:
set_5={1,2,3,4,5}
set_6={0,1,2,3,4,5}
print(set_5)
print(set_6)
print(set_5.issubset(set_6))
print(set_6.issubset(set_5))

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
True
False

**symmetric_difference()**

In [ ]:
print(set_5)
print(set_3)
print(set_5.symmetric_difference(set_3))

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 7, 9}
{0, 5, 7, 9}

**Union**

In [ ]:
print(set_5)
print(set_3)
print(set_5.union(set_3))

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 7, 9}
{0, 1, 2, 3, 4, 5, 7, 9}

**Update()**

In [ ]:
print(set_5)
print(set_3)
set_5.update(set_3)
print(set_5)

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 7, 9}
{0, 1, 2, 3, 4, 5, 7, 9}

**Complementando**

In [ ]:
set_1 = {1,2,3,4,5}
print(set_1)
tupla=(1,2,3,4,5,6,5,4,6,7)
print(tupla)
print(set(tupla))
set_2={1,1,2,2,3,3,4,5,6,7,8,9,0}
print(set_2)

{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5, 6, 5, 4, 6, 7)
{1, 2, 3, 4, 5, 6, 7}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set_3 ={True,False,True,False,0,2,3,"oi"}
print(set_3)#reparem que ele rmeoveu o 0

{False, True, 2, 3, 'oi'}

<h1>Exercícios:<h1>

1. Crie uma tupla e ordene ela.

2. Remova todos os valores duplicados da tupla.

3. Crie uma função que busque um determinado valor em uma tupla e retorne a quantidade de vezes que esse valor aparece.

4. Crie dois sets e atribua no primeiro a diferença simétrica entre os dois.

5. Faça a união entre os dois sets e salve o resultado em um terceiro set.

<h1>Dicionários</h1> <br> 
Dicionários como já vimos, armazena valores em pares de chave:valor. É muito utilizado com dados semi-estruturados e para trabalhar com arquivos JSON<br><br>

1.   clear()	-> Limpa todos os elementos do dicionário.
2. copy()	-> Retorna uma cópia do dicionário.
3. fromkeys(x,y)	-> Retorna um dicionário com as chaves e opcionalmente pode já atribuir os valores.
4. get()	-> Retorna o valor da chave especificada.
5. items()	-> Retorna uma tupla contendo a chave e valor de cada elemento.
6. keys()	-> Retorna todas as chaves existentes no dicionário.
7. pop()	-> Remove o elemento com a chave especificada.
8. popitem()	-> Remove o último elemento com chave:valor.
9. setdefault()	-> Retorna o valor da chave específicada. Caso não exista, insere a chave com o específicado valor.
10. update()	-> Atualiza o dicionário com a chave:valor especificados.
11. values()	-> Retorna todos os valores dentro do dicionário.


<br> Vamos seguir a mesma estratégia que usamos com set e focar nos novos métodos que apareceram. <br>

**Fromkeys()**

In [ ]:
chaves=["id_1","id_2","id_3"]
dicionario_1 = dict.fromkeys(chaves)
print(dicionario_1)

chaves=["id_1","id_2","id_3"]
valor=7
dicionario_2 = dict.fromkeys(chaves,valor)
print(dicionario_2)

chaves=["id_1","id_2","id_3"]
valores=[12,123,1234]
dicionario_3 = dict.fromkeys(chaves,valores)
print(dicionario_3)

{'id_1': None, 'id_2': None, 'id_3': None}
{'id_1': 7, 'id_2': 7, 'id_3': 7}
{'id_1': [12, 123, 1234], 'id_2': [12, 123, 1234], 'id_3': [12, 123, 1234]}

**Get()**

In [ ]:
print(dicionario_3.get("id_1"))
print(dicionario_3.get("id_4","Não tem"))

[12, 123, 1234]
Não tem

**Items()**

In [ ]:
dicionario_3.items()

dict_items([('id_1', [12, 123, 1234]), ('id_2', [12, 123, 1234]), ('id_3', [12, 123, 1234])])

**Keys()**

In [ ]:
dicionario_3.keys()

dict_keys(['id_1', 'id_2', 'id_3'])

**Setdefault()**

In [ ]:
print(dicionario_3.setdefault("id_3",333))
print(dicionario_3.setdefault("id_4",333))

[12, 123, 1234]
333

**Values()**

In [ ]:
print(dicionario_3.values())
print(type(dicionario_3.values()))
print(dicionario_3['id_3'])
print(type(dicionario_3['id_3']))
print(dicionario_3['id_3'][0])
print(dicionario_3['id_4'])

dict_values([[12, 123, 1234], [12, 123, 1234], [12, 123, 1234], 333])
<class 'dict_values'>
[12, 123, 1234]
<class 'list'>
12
333

<h1>Exercícios:<h1>

1. Crie um dicionário com nome, sobrenome e apelido de 3 usuários.

2. Procure o atributo idade para o usuário 1 e caso não tenha adicione o valor 30 nesse campo.

3. Conte a quantidade de nomes e sobrenomes contidos no dicionário.

4. Verifique se há dois nomes repetidos.